body{
    background: black;
    color: white;
    background-image: url("./assets/images/binary.gif");
    
}
h1{
    text-transform: uppercase;
}

img{
    border: solid 5px white;
    width: 100%;
}

div{
    border: solid 100px  black;
    background-color: black;
    text-align: center;
    width: 50%;
    margin: auto;
}
